
{{#with book}}<h1>Book Name: {{name}}</h1>
<ul>
  <li>Number of pages: {{numberOfPages}}</li>
  <li>ISBN: {{isbn}}</li>
  <li>Released: {{releasedFormatted}}</li>
</ul>
<a href="/books">Back to books</a>
{{/with}}